General_Files/
IHU logo/
.idea/
TkinderTutorial/
project/__pycache__/
project/src/__pycache__/
project/src/test.py
ThisPersonDoesNotExist/New folder/
~$υχιακή.docx
Designs/
Designs/Card/A59CF453.ai
*.tmp
